{% extends 'base.html' %}

{% block title %}TITLE{% endblock %}

{% block body_content %}

<div class="view view-main view-init">
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"></div>
        <div class="title">Navbar</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">

      <div class="block">
        <p> Hello <i class="icons f7-icons size-28">globe</i> !</p>
        <p class="row">
          <button id="btnAdd" class="col button button-raised button-fill">Install App</button>
        </p>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}